//- TODO: make this 

-function prettyDate(dateString){
  -var d = dateString.getDate();
  -var monthNames = [ "Jan", "Feb", "Mar", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  -var m = monthNames[dateString.getMonth()];
  -var y = dateString.getFullYear();
  -return d+' '+m+' '+y;
-}

doctype html
html(lang="en")
  head
    title= pageTitle
    style.
      .frame {
        width: 600;
        height: 400;
      }
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.0.min.js')
    script.
      var sendQuote = function(q_id) {
        $.ajax({
            url: '/sendQuoteEmail',
            type: 'POST',
            data: {
                q: q_id
            },
            error: function (err) {
                console.log(err);
                $('.flash').html("Sending failed: " + err.responseText);
            },
            success: function(res) {
                $('.flash').html("Quote sent!");
            }
        });
      }

  body
    h1 Quote Preview
    iframe.frame(src="/viewQuote?q="+q_id, style='width: 9.5in; height: 12in', width=1100, height = 850)
    p Do you want to send it?
    //- better way to format this? -dp
    button.send(onClick='sendQuote("'+q_id+'")') Send!
    p.flash &nbsp;

