
-function prettyDate(dateString){
  -var d = dateString.getDate();
  -var monthNames = [ "Jan", "Feb", "Mar", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  -var m = monthNames[dateString.getMonth()];
  -var y = dateString.getFullYear();
  -return d+' '+m+' '+y;
-}

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="site.css")
    link(rel="stylesheet", href="flexblocks.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro:700")
    style
      include preview-quote.css
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.0.min.js')
    script.
      var sendQuote = function(q_id) {
        butt = $('button.send').text("Sending...").prop("disabled",true);
        $('.flash').removeClass("visible")
        $.ajax({
            url: '/sendQuoteEmail',
            type: 'POST',
            data: {
                q: q_id
            },
            error: function (err) {
                console.log(err);
                $('.flash').html("Sending failed: " + err.responseText).addClass("visible");
                butt.prop("disabled", false);
                butt.text("Try sending again")
            },
            success: function(res) {
                butt.text("Quote Sent!")
                window.setTimeout(function(){
                  butt.prop("disabled", false);
                  butt.text("Resend")
                }, 2000)
            }
        });
      }

  body
    h1 Quote Preview
    div.iframe-wrapper
      iframe(src="/viewQuote?q="+q_id, style='width: 8.5in; height: 11in', width=1100, height = 850)
    div.controls
      button.send(onClick='sendQuote("'+q_id+'")') Send Quote to Client
      button.return(onClick="window.location.href='/'") Go home
    p.flash

