html, body{
	font-family: sans-serif;
/*	width: 8.5in;
	height: 11in;*/
	height: 100%;
	width: 100%;
	margin: 0;
}


body{
	padding: .5in;
	position: relative;
	box-sizing: border-box;
}

header{
	text-align: center;
	margin-top: 50px;
}

#logo{
	width: 300px;
	display:block;
	margin: 0 auto;
}

main{
	overflow: auto;
}

table#price-table{
	border-collapse: collapse;
}

table#price-table tbody{
	padding: 0 20px 10px 20px;
	border: solid black 1px;
	display: block;
}

.price-summary{
	font-weight: bold;
}

.row-header{
	width: 100%;
	font-weight: bold;
}

.quantity{
	padding: 10px 30px 0 0;
	text-align: right;
}

.full{
	width:100%;
}

#quote-id{
	position: absolute;
	padding: 50px;
	top:0;
	right:0;
	text-align: center;
}

#quote-id h3{
	border: solid black 1px;
	padding: 15px 30px;
}

#quote-id em{
	font-style: normal;
}

.column{
	width:50%;
	padding: 20px;
	box-sizing: border-box;
}

.small-column{
	box-sizing: border-box;
	padding: 20px;
	width:35%;
}
.big-column{
	box-sizing: border-box;
	padding: 20px;
	width:65%;
}

.left{
	float:left;
}

.right{
	float:right;
}

footer{
	position: absolute;
	left:0;
	bottom: .5in;
	padding: 0 .5in;
}

@page {
  size: 5.5in 8.5in;
}